.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.wrapper {
  position: relative;
  width: 100%;
  overflow: auto;
}

/*=========sidebar---design------*/

#sidebar {
  position: fixed;
  height: 100% !important;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 11;
  width: 260px;
  overflow: auto;
  transition: all 0.3s;
  background-color: #fff;
  box-shadow: 0 0 30px 0 rgba(200 200 200 / 20%);
}


@media only screen and (min-width:992px) {
  #sidebar.active {
    left: -260px;
    height: 100% !important;
    position: absolute !important;
    overflow: visible !important;
    top: 0;
    z-index: 666;
    float: left !important;
    bottom: 0 !important;
  }

  #content {
    width: calc(100% - 260px);
    position: relative;
    float: right;
    transition: all 0.3s;
  }

  #content.active {
    width: 100%;
  }

}


#sidebar::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
  background-color: #eee;
  display: none;
}

#sidebar::-webkit-scrollbar-thumbs {
  width: 5px;
  border-radius: 10px;
  background-color: #333;
  display: none;
}

#sidebar:hover::-webkit-scrollbar-thumbs {
  display: block;
}

#sidebar:hover::-webkit-scrollbar {
  display: block;
}

#sidebar .sidebar-header {
  padding: 20px;
  background-color: #fff;
  border-bottom: 1px solid #eee;
}

.sidebar-header h3 {
  color: #333;
  font-size: 17px;
  margin: 0px;
  text-transform: uppercase;
  transition: all 0.5s ease;
  font-weight: 600;
}

.sidebar-header h3 img {
  width: 45px;
  margin-right: 10px;
}

#sidebar ul li {
  padding: 2px 0px;
}

#sidebar ul li.active>a {
  color: #4c7cf3;
  background-color: #DBE5FD;
}


#sidebar ul li.active>a i {
  color: #4c7cf3;
}



#sidebar ul li a:hover {
  color: #4c7cf3;
  background-color: #DBE5FD;
}


.dropdown-toggle::after {
  position: absolute;
  right: 22px;
  top: 18px;
  color: #777777;
}

#sidebar ul li.dropdown {
  position: sticky;
}


#sidebar ul.component {
  padding: 20px 0px;
}

#sidebar ul li a {
  padding: 5px 10px 5px 20px;
  line-height: 30px;
  font-size: 15px;
  position: relative;
  font-weight: 400;
  display: block;
  color: #777777;
  text-transform: capitalize;
}

#sidebar ul li a i {
  position: relative;
  margin-right: 10px;
  top: 6px;
}

#content {
  position: relative;
  transition: all 0.5s;
  background-attachment: #f9fafc;
}

.top-navbar {
  width: 100%;
  z-index: 9;
  position: relative;
  padding: 15px 30px;
  background-color: #353b48;
}

.page-title {
  color: #fff;
}

.xd-topbar {
  width: 100%;
  position: relative;
}


.main-content {
  padding: 30px 30px 0px 30px;
}

.navbar {
  background-color: #353B48;
  color: #fff;
}

.navbar-brand {
  color: #fff;
}

.navbar button {
  background-color: transparent;
  border: none;
}

.navbar button span {
  color: #fff;
}

.xp-menubar {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  margin-right: 20px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.09);
}


.xp-menubar span {
  margin: 9px;
  padding: 0px;
  transform: rotate(90deg);
}

.navbar-nav>li.active {
  color: #fff;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.08);
}

.navbar-nav>li>a {
  color: #fff;
}

.navbar .notification {
  position: absolute;
  top: 2px;
  right: 3px;
  display: block;
  font-size: 9px;
  border: 0;
  background-color: #2bcd72;
  min-width: 15px;
  text-align: center;
  padding: 1px 5px;
  height: 15px;
  border-radius: 2px;
  line-height: 14px;
}

@media (max-width:768px) {
  .xp-searchbar {
    margin-top: 20px;
  }
}

.navbar-nav>li.show .dropdown-menu {
  transform: translate3d(0, 0, 0);
  opacity: 1;
  display: block;
  visibility: visible;
}

.dropdown-menu {
  border: 0;
  box-shadow: 0 2px 5px 0 rgba(0 0 0 / 26%);
  transform: translate3d(0, -20px, 0);
  visibility: hidden;
  position: absolute !important;
  transition: all 150ms linear;
  display: block;
  min-width: 15rem;
  right: 0;
  left: auto;
  opacity: 0;
}

.small-menu {
  min-width: 10rem;
}


.dropdown-menu li>a {
  font-size: 13px;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 2px;
  font-weight: 400;
  transition: all 150ms linear;
}


.dropdown-menu li>a .material-icons {
  position: relative;
  top: 3px;
  color: #777;
  margin-right: 6px;
  font-size: 16px;

}

.navbar-nav>.active>a:focus {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.08);
}

.navbar-nav li a {
  position: relative;
  display: block;
  padding: 4px 10px !important;
}

.nav-item .nav-link .material-icons {
  position: relative;
  top: 10px;
  font-size: 19px;
}

.xp-user-live {
  position: absolute;
  bottom: 5px;
  right: 9px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #353b48;
  background-color: #4c7cf3;
}

.main-content {
  margin-top: 100px;
}

.table-wrapper {
  background-color: #fff;
  /* padding: 20px 25px; */
  margin: 6px 0px 40px 0px;
  width: 100%;
  overflow: auto;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}

.btn {
  color: #2bcd72;




}

.delete-btn {
  cursor: pointer;
  color: red;
}

.update-btn {
  cursor: pointer;
  background-color: #2bcd72 !important;
  color: #fff;
  width: 50px;

}

/* :hover {
  color: #fff !important;
} */